# Игнорировать все файлы и папки
**

# Разрешить файлы, необходимые для сборки
!Dockerfile
!docker-compose.yml

# Разрешить файлы и папки проекта
!index.html
!register.php
!assets/
!logs/

# Исключить ненужные файлы и папки
.idea/
.vscode/
*.swp
*.swo